<!doctype html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link href="{{ asset('style.css') }}" rel="stylesheet"/>
</head>
<body>

        <header>
                <h1>
                        Accueil
                </h1>
                <nav>
                        <div><img src="{{ asset('logo.png')  }}"></div>
                        <ul>
                                <li><a href="">Accueil</a></li>
                                <li><a href="">Article</a></li>
                                <li><a href="">A propos</a></li>
                        </ul>
                </nav>
        </header>
        <main>
            {% for articles in article %}
                <div>
                        <h1>{{ articles.title }}</h1>
                        <p>{{ articles.content }}</p>
                        <img src="{{ articles.image }}">
                </div>
            {% endfor %}

        </main>

        <footer>
                <nav>
                        <ul>
                                <li><a href="">Accueil</a></li>
                                <li><a href="">Article</a></li>
                                <li><a href="">A propos</a></li>
                        </ul>
                </nav>
        </footer>

</body>
</html>